/* Denna fil skall innehålla din CSS kod */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerlist {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 50vw;
}
.headerlist li {
    list-style-type: none;
}
.headerlist li p {
    font-size: 20px;
}
.profile {
    display: flex;
    flex-direction: row;
    align-items:center ;
}
.profilepic {
    background-image: url(../img/Logo.png);
    height: 100px;
    width: 100px;
}
.logo {
    background-image: url(../img/Logo.png);
    height: 100px;
    width: 100px;
    background-size: 100%;
}
nav {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 10vh;
    font-family: sans-serif;
    padding : 10px;
    grid-area: na;
}

.navlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    right: 0vh;
    height: 10vh;
    width: 100vw;
    top: -90vh;
    align-items: center;
    background-color:red ;
    transition:all 0.5s ease;
}

.navlinks {
    list-style: none;
}

.navlinks a {
    color: rgb(0, 0, 0) ;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;

}
.burger div {
    width: 25px;
    height: 3px;
    background-color: palegoldenrod;
    margin: 5px;
    border-radius: 10%;

}
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
.navActive {
    transform: translateY(106.5vh);
}
.selected a {
    color:white;
}
#wrapper {
    min-height: 100vh;
    margin: auto;;    
}
.container {
    display: flex;
    justify-content: center;
}
.showcase {
    display: grid;
    grid-template-areas: 
    'ti p'
    'sb p';
    width: 60vw;
    height: 50vh;
    justify-content: space-evenly;
}
.title {
    grid-area: ti;
}
.subtext {
    grid-area: sb;
}
.package {
    display: flex;
    flex-direction: row;
}
.picture1 {
    background-image: url(../img/Ducati\ F07.jpg);
    width: 40vw;
    height: 40vh;
    background-size: 100%;
    grid-area: p;
}
.picture2 {
    background-image:url(../img/Ducati\ 916.jpg);
    width: 40vw;
    height: 40vh;
    background-size:100%;
    grid-area: p;
}
.commentitle {
    background-color: rgb(156, 156, 156);
}
.pfp {
    background-image: url(../img/Logo.png);
    height: 50px;
    width: 50px;
}
.commentsection {
    background-color:gainsboro;
    height: 40vh;
    width: 20vw;
}
.comment {
    display: flex;
    padding:5px;
}
/*PARTS SPECIFIC*/
.partsmain {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
    height: none;
}
.categorysection {
    background-color: red;
    width: 20vw;
    height: 50vh;
}
.categories {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90%;
}
.items {
    display: grid;
    grid-template-areas:
    'sh sh sh'
    'i1 i2 i3'
    'i4 i5 i6';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    width: 50vw;
    height: 50vh;
}
#item1 {
    grid-area: i1;
}
#item2{
    grid-area: i2;
}
#item3{
    grid-area: i3;
}
#item4{
    grid-area: i4;
}
#item5{
    grid-area: i5;
}
#item6{
    grid-area: i6;
}
.searchbar {
    grid-area: sh;
}
.item {
    background-color: rgb(156, 156, 156);
}
/*gallery specific*/

.albumcontainer{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-evenly;

}
.apicture {
    background-color: skyblue;
    width: 250px;
    height: 155px;
}
#ap1{
    background-image: url(../img/New\ F07.jpg);
    background-size: cover;
   
}
#ap2 {
    background-image: url(../img/Ducati\ F97.jpg);
    background-size: cover;
}
#ap3{
    background-image: url(../img/Ducati\ 996rs.jpg);
    background-size: cover;
}
#ap4 {
    background-image: url(../img/Ducati\ 999RS.jpg);
    background-size: cover;

}


@media screen and (max-width:700px){
    .navActive {
        transform: translateY(115vh);
    }
    .headerlist li p {
        font-size: 0px;
    }
    .picture1 {
        width: 90vw;
        height: 30vh;
    }
    .picture2 {
        width: 90vw;
        height: 30vh;
    }

    .showcase {
        grid-template-areas: 
        'ti'
        'p'
        'sb';
    }
    .package {
        flex-direction: column;
        gap:20vh;
    }
    .commentsection {
        width: 90vw;
    }
    .partsmain {
        flex-direction: column-reverse;
        height: 110vh;
    }
    .items {
        width: 90vw;
    }
    .categorysection{
        width: 90vw;
    }
}
